.about-shop {
  margin-top: 30px;
  & .container {
    background-color: $colorWhite;
    border: 2px solid $colorGray;
  }
  &__bg {
    padding: 20px 0;
  }
  &__heading {
    text-align: center;
    color: $colorBlue;
    text-transform: uppercase;
  }
  &__content {
    font-size: 14px;
  }
}