.center-block {
  margin-bottom: 15px;

  &__tab {
    border: 2px solid $colorGray;
    background: $colorWhite;
    padding: 17px 15px;
    & .nav {
      justify-content: space-around;
      transition: all .3s;

    }
    & .nav-tabs {
      border-bottom: 0;
    }
    & .nav-item {
      text-align: center;
      flex: 1;
    }
    & .nav-tabs .nav-link.active {
      background-color: $colorBlue;
      color: $colorWhite;
    }
    & .nav-tabs .nav-link {
      font-family: $fontSemiBold;
      border: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      background-color: $colorGray;
      color: $colorDarkGray;
      padding: 20px 15px;


    }
  }
  &__tab-item-icon {
    margin-right: 30px;
    & img {
      width: 25px;
    }
  }
}
.tab-swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0 0 100px 0;
  z-index: 1;
}

@media only screen and (max-width : 992px) {
  .center-block {
    &__tab {
      & .nav {
        flex-direction: column;
      }
    }
  }
}
