@import "bootstrap";
@import "fontAweasome";
@import "fonts";
@import "variables";
@import "swiper";
@import "header";
@import "slider";
@import "menu";

@import "center-block";

@import "product";
@import "action-news";
@import "news";
@import "about-shop";
@import "button";
@import "partners";
@import "footer";

body {
  font-family: $fontRegular;
  font-size: 16px;
  color: #000;
  background-image: url(../images/bg.jpg);
}
a {
  &:hover {
    text-decoration: none;
  }
}
img {
  max-width: 100%;
}
.fontRegular {
  font-family: $fontRegular;
}
.fontLight {
  font-family: $fontLight;
}
.fontBold {
  font-family: $fontBold;
}
.fontExtraBold {
  font-family: $fontExtraBold;
}
.fontSemiBold {
  font-family: $fontSemiBold;
}

@import "mediaqueries";