.partners {
  margin-top: 30px;
  & .container {
    background-color: $colorWhite;
    border: 2px solid $colorGray;
  }
  &__bg {
    padding: 20px 0;
  }
  &__heading {
    text-align: center;
    color: $colorBlue;
    text-transform: uppercase;
    & span  {
      color: $colorRed;
    }
  }
  &__item {
    margin: 20px 0 50px 0;
  }
  &__item-wrapper {
    padding: 0 50px;
  }
}
.swiper-container__partners {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  z-index: 1;
}
