.partners {
  margin-top: 30px;
  &__bg {
    background-color: $colorWhite;
    border: 2px solid $colorGray;
    padding: 20px 15px;
  }
  &__heading {
    text-align: center;
    color: $colorBlue;
    text-transform: uppercase;
    & span  {
      color: $colorRed;
    }
  }
}