$fontRegular: OpenSansRegular;
$fontLight: OpenSansLight;
$fontBold: OpenSansBold;
$fontExtraBold: OpenSansExtraBold;
$fontSemiBold: OpenSansSemiBold;
$colorBlue: #78bbfd;
$colorWhite: #fff;
$colorRed: #ff2b5e;
$colorDarkBlue: #036fdb;
$colorGray: #dedce4;
$colorDarkGray: #56565b;